body {
	background-image: url('../img/background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#mainLogo{
	width: 60%;
	height: 60%;
	margin-left: 8em;
}

.searchBox {
	width: 650px;
	margin-left: auto;
    margin-right: auto;
	padding-top: 150px;
	margin-bottom: auto;
	-webkit-transition: width 0.5s; /* Safari */
    -webkit-transition-timing-function: linear; /* Safari */
    transition: width 0.5s;
    transition-timing-function: linear;
}

@media (max-width: 750px) {
	.searchBox {
	width: 400px;
	}
	@media (max-width: 440px) {
	.searchBox {
	width: 260px;
	}
}
}


